In [1]:
import pandas as pd
import xgboost as xgb
import numpy as np
%load_ext autoreload
%autoreload 2
#useful for displaying wide data frames
pd.set_option('display.max_columns', 50)

In [2]:
#load the data into Pandas dataframes
df_market = pd.read_csv("input/markets.csv")
df_runners = pd.read_csv("input/runners.csv",dtype={'barrier': np.int16,'handicap_weight': np.float16})

#for my simple model, I'm ignoring other columns. I recommend starting with form if you're looking to add features
#df_odds = pd.read_csv("../input/odds.csv")
#df_form = pd.read_csv("../input/forms.csv")
#df_condition = pd.read_csv("../input/conditions.csv")
#df_weather = ("../input/weather.csv")
#df_rider = ("../input/riders.csv")
#df_horse = ("../input/horses.csv")
#df_horse_sex = ("../input/horse_sexes.csv")

In [3]:
##merge the runners and markets data frames
df_runners_and_market = pd.merge(df_runners,df_market,left_on='market_id',right_on='id',how='outer')
#df_runners_and_market.index = df_runners_and_market['id_x'] 
df_runners_and_market = df_runners_and_market.rename(columns={'id_x': 'runner_id'})

In [4]:
df_runners_and_market.head()

,runner_id,collected_at,market_id,position,place_paid,margin,horse_id,trainer_id,rider_id,handicap_weight,number,barrier,blinkers,emergency,form_rating_one,form_rating_two,form_rating_three,last_five_starts,favourite_odds_win,favourite_odds_place,favourite_pool_win,favourite_pool_place,tip_one_win,tip_one_place,tip_two_win,...,tip_four_win,tip_four_place,tip_five_win,tip_five_place,tip_six_win,tip_six_place,tip_seven_win,tip_seven_place,tip_eight_win,tip_eight_place,tip_nine_win,tip_nine_place,id_y,timezone,venue_id,race_number,distance,condition_id,weather_id,total_pool_one_win,total_pool_one_place,total_pool_two_win,total_pool_two_place,total_pool_three_win,total_pool_three_place
0,4.0,2016-06-26 18:54:31.800293,1.0,NaN,1.0,NaN,4.0,4.0,4.0,58.5,4.0,10.0,f,f,82.0,82.0,14.0,x80x2,f,f,f,f,f,NaN,f,...,t,t,t,t,f,t,f,t,f,t,t,t,1.0,2016-06-26 19:00:00,1.0,3.0,1200.0,1.0,1.0,29718.08,NaN,11564.5,5373.0,23464.8,5373.0
1,10.0,2016-06-26 18:54:31.974395,1.0,NaN,0.0,NaN,10.0,4.0,10.0,56.5,10.0,11.0,f,f,100.0,100.0,18.0,22x35,f,f,f,f,f,NaN,f,...,f,f,f,f,f,f,f,f,f,f,f,f,1.0,2016-06-26 19:00:00,1.0,3.0,1200.0,1.0,1.0,29718.08,NaN,11564.5,5373.0,23464.8,5373.0
2,5.0,2016-06-26 18:54:31.835329,1.0,NaN,0.0,NaN,5.0,5.0,5.0,56.5,5.0,5.0,f,f,76.0,76.0,0.0,f7,f,f,f,f,f,NaN,f,...,f,f,f,t,f,f,f,f,f,f,f,f,1.0,2016-06-26 19:00:00,1.0,3.0,1200.0,1.0,1.0,29718.08,NaN,11564.5,5373.0,23464.8,5373.0
3,6.0,2016-06-26 18:54:31.873492,1.0,NaN,0.0,NaN,6.0,6.0,6.0,56.5,6.0,12.0,f,f,85.0,85.0,2.0,f6462,f,f,f,f,f,NaN,f,...,f,f,f,f,f,f,f,f,f,f,f,f,1.0,2016-06-26 19:00:00,1.0,3.0,1200.0,1.0,1.0,29718.08,NaN,11564.5,5373.0,23464.8,5373.0
4,1.0,2016-06-26 18:54:31.746854,1.0,NaN,0.0,NaN,1.0,1.0,1.0,58.5,1.0,8.0,f,f,89.0,89.0,0.0,34x0x,f,f,f,f,f,NaN,f,...,f,f,f,f,f,f,f,f,f,f,f,f,1.0,2016-06-26 19:00:00,1.0,3.0,1200.0,1.0,1.0,29718.08,NaN,11564.5,5373.0,23464.8,5373.0

In [6]:
numeric_features = ['position', 'horse_id', 'runner_id', 'market_id','barrier','handicap_weight']
categorical_features = []

#convert to factors
'''for feature in categorical_features:
    df_runners_and_market[feature] = df_runners_and_market[feature].astype(str)
    df_runners_and_market[feature] = df_runners_and_market[feature].replace('nan','0') #have to do this because of a weird random forest bug

    df_features = df_runners_and_market[numeric_features]

for feature in categorical_features:
    encoded_features = pd.get_dummies(df_runners_and_market[feature])
    encoded_features.columns = feature + encoded_features.columns
    df_features = pd.merge(df_features,encoded_features,left_index=True,right_index=True,how='inner') 
'''
df_features = df_runners_and_market[numeric_features]
#turn the target variable into a binary feature: did or did not win
df_features['win'] = False
df_features.loc[df_features['position'] == 1,'win'] = True
#df_features = df_features.reset_index().rename(columns={'id_x': 'horse_id'})
df_features = df_features.reindex(np.random.permutation(df_features.index))
#del df_runners_and_market, encoded_features, df_features['position']

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
//anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:461: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [44]:
from makeRaces import shapeToRaces
raceData, runnerClassDf = shapeToRaces(df_features)

0 out of 7372

//anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
//anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:545: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value

500 out of 7372
1000 out of 7372
1500 out of 7372
2000 out of 7372
2500 out of 7372
3000 out of 7372
3500 out of 7372
4000 out of 7372
4500 out of 7372
5000 out of 7372
5500 out of 7372
6000 out of 7372
6500 out of 7372
7000 out of 7372

In [81]:
pd.DataFrame(raceData).to_csv('raceDataBasic.csv', header=True, index=False)
runnerClassDf.to_csv('runnerClassBasic.csv', header=True, index=False)

In [45]:
runnerClassDf.head()

     class  horse_id  market_id  runner_id
197    0.0     436.0       16.0      446.0
198    1.0     262.0       16.0      445.0
196    2.0     432.0       16.0      441.0
195    3.0     435.0       16.0      444.0
199    4.0     433.0       16.0      442.0

In [ ]:
ru

In [71]:
from runRacesMultiClass import trainTestSplit
train, test = trainTestSplit(raceData)
print(train.shape)
test.shape

(4456, 53)

(1909, 53)

In [84]:
all_odds = pd.read_csv("input/odds.csv")

In [ ]:
from runRacesMultiClass import runRaces
from sklearn.linear_model import LogisticRegression
winOrNot = df_features[['runner_id', 'win']]
lr = LogisticRegression()
runRaces(data=raceData,runnersClasses = runnerClassDf, 
         winOrNot=winOrNot, est=lr, allOdds= all_odds, n_trials=3)

#classAndProb = fitModel(train, test, est=lr, runnersClasses=runnerClassDf)

trial 0
fitting estimator

In [82]:
classAndProb.head()

   market_id  class      prob  horse_id  runner_id
0       23.0    0.0  0.055860     266.0      268.0
1       23.0    1.0  0.141468     263.0      264.0
2       23.0    2.0  0.129215     267.0      269.0
3       23.0    3.0  0.062784     265.0      266.0
4       23.0    4.0  0.130407     272.0      275.0

In [85]:
from runRacesMultiClass import addOdds
classAndProb = addOdds(classAndProb, all_odds)

In [86]:
classAndProb.head()

   market_id  class      prob  horse_id  runner_id   odds
0       23.0    0.0  0.055860     266.0      268.0  11.88
1       23.0    1.0  0.141468     263.0      264.0  23.30
2       23.0    2.0  0.129215     267.0      269.0  35.80
3       23.0    3.0  0.062784     265.0      266.0  11.90
4       23.0    5.0  0.044976     270.0      273.0  10.31

In [88]:
from runRacesMultiClass import placeBets
classAndProb = classAndProb.merge(df_features[['runner_id', 'win']], on='runner_id')
placeBets(classAndProb)

Total bets: 9642
Total wins: 367

-20.38

In [15]:
%reload_ext autoreload

In [78]:
probs = lr.predict_proba(X)

market_ids = X_test[:,-1].T

probs_df = pd.DataFrame()
probs_re = probs_df.set_index('market_id').stack().reset_index().rename(columns={0:'prob', 'level_1':'class'})

probs_re['class'] = probs_re['class'].astype(float)

classAndProb = probs_re.merge(runnerClassDf, on=['market_id', 'class'])

In [187]:
classAndProb = classAndProb.merge(df_features[['runner_id', 'win']], on='runner_id')